

.header {
  background-image: url('/images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  @media (min-width: 48em) {
    background-image: url('/images/desktop/image-hero.jpg');
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .logo {
    width: 144px;
  }

  nav {
    padding-block-start: 2.5rem;
    margin-block-end: get-size('600');
  }

  .content {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
      font-family: get-utility-value('font', 'base');
      color: get-color('white');
      font-weight: 300;
      text-transform: uppercase;
      font-size: var(--step-5);
      line-height: 1.2;
      border: 1px solid get-color('white');
      padding: get-size('600');
    }
  }
}