
section {
  h2 {
    text-transform: uppercase;
    font-family: get-utility-value("font", "base");
    font-weight: 300;
    font-size: var(--step--1);
    line-height: 1;
  }
}


.hero-bg {
  background-image: url('../images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  @media (min-width: 62em) {
    background-image: url('../images/desktop/image-hero.jpg');
    background-size: cover;
  }
}


.hero {
  display: grid;
  min-height: 100vh;
  margin-block-end: 6rem;

  // @media (min-width: 62em) {
  //   grid-template-rows: 1fr 3fr;
  // }

 

}

.hero header nav {
  display: flex;
  justify-content: space-between;
  padding-block-start: 2.5rem;
  align-items: center;


  .logo {
    width: auto;
    max-width: 40%;
    position: relative;
    z-index: 1;
  }

  .disclosure {
    @media (min-width: 62em) {
      display: none;
    }
  }

  .disclosure__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}


.hero .content {
  font-family: get-utility-value('font', 'base');
  color: get-color('white');
  width: auto;
  max-width: 40rem;
  
  p {
    font-weight: 300;
    padding: 1.5rem;
    border: 1px solid get-color('white');
    font-size: clamp(2rem, 0.6429rem + 4.2857vw, 4.5rem);
    text-transform: uppercase;
    line-height: 1;
  }
}


.section-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  margin-block-end: 6rem;

  .content p {
    color: get-color('gray');
    font-family: get-utility-value('font', 'heading');
    font-size: 0.9375rem;
    font-weight: 400;
    margin-block-start: 1rem;
  }
}


.section-2 {
  text-align: center;
  .cta h2 {
    margin-block-end: 3rem;
  }

  ul {
    width: auto;
    max-width: 40rem;


    .card {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }


      h3 a {
        text-align: left;
        font-family: get-utility-value("font", "base");
        color: get-color('white');
        text-decoration: none;
        font-weight: 300;
        text-transform: uppercase;
        font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
        line-height: 1;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-inline-start: 1.5rem;
        padding-block-end: 1.5rem;
        width: auto;
        max-width: 12ch;
      }
    }
  }



  .see-all {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-family: get-utility-value("font", 'heading');
    letter-spacing: 5px;
    border: 1px solid #000;
    padding-block: 0.8125rem;
    padding-inline: 2.6875rem;

    &.see-all--mobile {
      margin-block-start: 2.125rem;
      margin-block-end: 6rem;
    }

    &.see-all--desktop {
      display: none;
    }
  }
}
